.star-button {
  border-width: 0px;
  background-color: transparent;
}

.star-title {
  display: flex;
  justify-content: space-between;
}

.each-appointment-container {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #171f46;
  border-radius: 10px;
  margin: 10px;
}
